<!DOCTYPE html>
<html>
  <head>
    <title><%= Content.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/lib/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </head>
  <body>
  <div class="body">

  <div class="classList list">
  </div>
<div class="studentList list">
</div>
  </div>
      <ul>
        <% for(let i=0;i<Content.classlist.length;i++){ %>
        <li class="theClass">
            <%= Content.classlist[i].classname %>
            <a class="displayNone"> <%= Content.classlist[i].id %></a>
        </li>
        <% } %>
      </ul>

</div>
  </body>
</html>
